* text=auto eol=lf

# Đảm bảo các file code luôn LF
*.js    text eol=lf
*.ts    text eol=lf
*.jsx   text eol=lf
*.tsx   text eol=lf
*.json  text eol=lf
*.css   text eol=lf
*.scss  text eol=lf
*.md    text eol=lf
*.sh    text eol=lf
